

<p> one word </p>

<br>

<%= "#{@random_word}" %>
<br>
<br>




word list:
<br>
<br>

<%= "#{@word_list}" %>


<br>
<br>

<%= form_with url: "/clue", method: :post, local: true do |form| %>
  <%= form.label :word, "Enter ONE word one please:" %>
  <%= form.text_field :word %>
  <%= form.submit "Submit" %>
<% end %>
